<section id="hero" class="hero-section">
    <div class="container hero-container">
      <div class="hero-content">
        <h1 class="hero-title">Earth <span class="highlight">Patcharapol Tadfan</span></h1>
        <p class="hero-subtitle">Linkedin</p>
        <p class="hero-introduction">
          INTRODUCTION <br>
          <span class="role">Software Developer</span><br>
          I am a professional Developer Having 4+ years of experience, Living in Bangkok , Thailand
        </p>
        <a href="#contact" class="btn hero-contact-btn">CONTACT ME</a>
      </div>
      <div class="hero-image-container">
        <img src="assets/placeholder-profile.jpg" alt="ชื่อของคุณ" class="hero-image">
      </div>
    </div>
  </section>