<app-navbar></app-navbar>
<app-hero></app-hero>
<app-tech-stack></app-tech-stack>
<app-portfolio></app-portfolio>
<app-qualifications></app-qualifications>
<app-contact></app-contact>
<app-footer></app-footer>

<!-- Particles Background (อยู่หลังสุดของ Body หรือก่อนปิด Body) -->
<ngx-particles                     
  [id]="particlesId"
  [options]="particlesOptions"
  (loaded)="particlesLoaded()"   
  style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;"
></ngx-particles>